Antes de avanzar necesitamos aprender una cosa de Pandas.

In [1]:
import pandas as pd

data = {
    'alimento': ['Manzana', 'Chocolate', 'Brócoli', 'Galletas', 'Pescado'],
    'salud': ['Saludable', 'No saludable', 'Saludable', 'No saludable', 'Saludable']
}

df = pd.DataFrame(data)

# Crear un mapping para la transformación
mapping_salud = {'Saludable': 1, 'No saludable': 0}

# Aplicar el mapeo a la columna 'salud'
df['salud_numerica'] = df['salud'].map(mapping_salud)

print(df)

    alimento         salud  salud_numerica
0    Manzana     Saludable               1
1  Chocolate  No saludable               0
2    Brócoli     Saludable               1
3   Galletas  No saludable               0
4    Pescado     Saludable               1

In [9]:
import pandas as pd
import numpy as np
import scipy.stats as stats

np.random.seed(42)
n = 50
data = {'nombre': ['Juan', 'María', 'Carlos', 'Laura', 'Pedro'] * 10,
        'edad': np.random.randint(18, 65, n),
        'peso': np.random.randint(50, 100, n),
        'nivel_educacion': np.random.choice(['Primaria', 'Secundaria', 'Universidad'], n),
        'nivel_ingresos': np.random.choice(['Bajo', 'Medio', 'Alto'], n),
        'satisfaccion': np.random.choice(['Baja', 'Media', 'Alta'], n)}

df = pd.DataFrame(data)

In [10]:
df.head(50)

    nombre  edad  peso nivel_educacion nivel_ingresos satisfaccion
0     Juan    56    77        Primaria           Bajo         Baja
1    María    46    96     Universidad          Medio         Baja
2   Carlos    32    56     Universidad           Bajo        Media
3    Laura    60    93     Universidad           Alto         Baja
4    Pedro    25    57        Primaria           Alto        Media
5     Juan    38    96     Universidad           Bajo        Media
6    María    56    84     Universidad           Alto         Alta
7   Carlos    36    63        Primaria           Alto        Media
8    Laura    40    66     Universidad           Bajo         Alta
9    Pedro    28    85        Primaria           Bajo         Baja
10    Juan    28    99      Secundaria           Alto         Baja
11   María    41    89     Universidad           Alto         Baja
12  Carlos    53    53      Secundaria           Alto         Baja
13   Laura    57    51        Primaria          Medio         Alta
14   Pedro    41    55     Universidad          Medio         Baja
15    Juan    20    91        Primaria          Medio        Media
16   María    39    53      Secundaria           Bajo        Media
17  Carlos    19    78        Primaria          Medio        Media
18   Laura    41    67     Universidad           Bajo         Alta
19   Pedro    61    75     Universidad           Bajo         Baja
20    Juan    47    93      Secundaria          Medio         Baja
21   María    55    83        Primaria          Medio         Baja
22  Carlos    19    59     Universidad          Medio         Alta
23   Laura    38    85      Secundaria           Alto        Media
24   Pedro    50    63     Universidad          Medio        Media
25    Juan    29    80     Universidad           Alto         Baja
26   María    39    97        Primaria           Bajo        Media
27  Carlos    61    64     Universidad           Alto        Media
28   Laura    42    57        Primaria          Medio         Alta
29   Pedro    44    63     Universidad           Bajo         Alta
30    Juan    59    72      Secundaria           Bajo         Alta
31   María    45    89     Universidad           Bajo         Alta
32  Carlos    33    70        Primaria           Alto         Baja
33   Laura    32    65        Primaria          Medio         Alta
34   Pedro    64    94      Secundaria           Bajo        Media
35    Juan    61    67     Universidad           Bajo         Baja
36   María    20    96     Universidad           Bajo        Media
37  Carlos    54    73      Secundaria           Alto        Media
38   Laura    24    75     Universidad           Alto        Media
39   Pedro    38    74     Universidad          Medio         Alta
40    Juan    26    94        Primaria           Alto         Alta
41   María    56    90     Universidad           Bajo         Baja
42  Carlos    35    78     Universidad          Medio         Baja
43   Laura    21    64      Secundaria           Bajo         Alta
44   Pedro    42    94      Secundaria           Bajo        Media
45    Juan    31    50        Primaria           Alto         Baja
46   María    26    74     Universidad          Medio         Alta
47  Carlos    43    56     Universidad           Alto         Alta
48   Laura    19    58     Universidad           Alto         Alta
49   Pedro    37    73        Primaria          Medio        Media

In [11]:
cross_tab_educ_ingresos = pd.crosstab(df['nivel_educacion'], df['nivel_ingresos'])
cross_tab_educ_ingresos

nivel_ingresos   Alto  Bajo  Medio
nivel_educacion
Primaria            5     3      7
Secundaria          4     5      1
Universidad         8    10      7

In [12]:
# Chi-cuadrado (Nivel de Educación y Nivel de Ingresos)

chi2, p_value, _, _ = stats.chi2_contingency(cross_tab_educ_ingresos)
print("Valor de chi-cuadrado (Nivel de Educación y Nivel de Ingresos):", chi2)
print("Valor p:", p_value)

Valor de chi-cuadrado (Nivel de Educación y Nivel de Ingresos): 4.615032679738562
Valor p: 0.32912463089930827